/*Import style fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


/*Styles sections Html*/
@import url("./header.css");
@import url("./main.css");
@import url("./section_client.css");
@import url("./footer.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --ft-barlow:"Barlow", sans-serif; 
    --ft-fraunces:"Fraunces", serif;
    --color-white: #ffff;
    --color-text-footer: hsl(167, 40%, 24%);
    --color-text-section: hsl(212, 27%, 19%);
    --color-p-section: hsl(213, 9%, 39%);
    --color-blue-section: hsl(198, 62%, 26%);
}

body{
    height: 100vh;
}
